@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  text-align: justify   ;
  color: aliceblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1576046126313-e93a138bc984?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=695&q=80);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  
}

#fundo {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  min-height: 100vh;
}

#conteudo {
  margin: auto;
  width: 80%;
  padding: 20px 0px 30px;
}

/* Cabeçalho */
header {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  justify-content: space-around;
  text-transform: uppercase;
}


a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

/* Conteudo */




#results {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}
